body
{
    color: #252323;
    display: flex;
    flex-direction: column;

}

header, main, footer
{
    background: #F5F1ED;
}

nav, 
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
}

nav li
{
    margin: 2px;
    padding: 5px 10px;
    background-color: #70798C;
    transition: background-color 0.5s ease;
    border-radius: 3px;
}

nav li:hover
{
    background-color: #A99985;
}

nav a
{
    text-decoration: none;
    color: inherit;
}

.UniLogo
{
    margin-left: 10px;
}

.flecha::after {
    content: "▶";
    margin-left: 5px;
    font-size: 0.8em;
}

.menu-desplegable:hover .flecha::after {
    content: "▼";
}

.menu-desplegable {
    position: relative;
}

.desplegable-contenido {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    min-width: 180px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.desplegable-contenido li a {
    padding: 10px;
    color: white;
    display: block;
}

.menu-desplegable:hover .desplegable-contenido {
    display: block;
}

.desplegable-contenido li a:hover {
    background: #555;
}

main.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

section {
    width: 90vw;
    max-width: 900px;
    margin: 30px 0 0 0;
    background: #fff;
    border-radius: 12px;
    padding: 30px 40px 30px 40px;
}

section h1 {
    margin-top: 0;
    margin-bottom: 18px;
    padding-left: 5px;
    color: #252323;
    font-size: 2em;
    font-weight: bold;
}

section h2 {
    margin-top: 30px;
    margin-bottom: 12px;
    padding-left: 5px;
    color: #252323;
    font-size: 1.4em;
    font-weight: bold;
}

section h3 {
    margin-top: 18px;
    margin-bottom: 8px;
    padding-left: 10px;
    color: #70798C;
    font-size: 1.1em;
    font-weight: bold;
}

section p {
    margin: 0 0 18px 0;
    padding: 10px 20px;
    background-color: #DAD2BC;
    border-radius: 6px;
}

section ul,
section ol {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 10px;
}

section li {
    margin-bottom: 8px;
}

section a {
    color: #70798C;
    text-decoration: underline;
    transition: color 0.2s;
}

section a:hover {
    color: #A99985;
}

footer
{
    display: flex;
    justify-content: center;
    flex: 1;
    font-weight: bold;
    background-color: #A99985;
}

footer p
{
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
}