/*Si quieren tener la misma barra de navegación copien de aquí hasta el otro comentario*/
body
{
    color: #252323;
    display: flex;
    flex-direction: column;

}

header, main, footer
{
    background: #F5F1ED;
}

nav, 
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul
{
    padding: 0;
    list-style: none;
}

nav li
{
    margin: 2px;
    padding: 5px 10px;
    background-color: #70798C;
    transition: background-color 0.5s ease;
    border-radius: 3px;
}

nav li:hover
{
    background-color: #A99985;
}

nav a
{
    text-decoration: none;
    color: inherit;
}

/*Pueden copiar hasta acá para tener la misma barra de navegación*/

.titulos
{
    padding: 20px 20px 0px 20px;
}

.introduccion p
{
    margin: 0;
    padding: 5px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: #DAD2BC;

}

.referencias
{
    padding: 0px 20px 0px 20px;
}

footer
{
    display: flex;
    justify-content: center;
    flex: 1;
    font-weight: bold;
    background-color: #A99985;
}