{% extends "base.html" %}

{% block body %}
    <header>
        <nav>
            <img src="../static/images/ML-act128.png" alt="logo-actividad">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/caso1-indmusical">Caso 1</a></li>
                <li><a href="/caso2-IndTexti">Caso 2</a></li>
                <li><a href="/caso3-">Caso 3</a></li>
                <li><a href="/caso4-">Caso 4</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Caso 2: Industria Textil</h1>
       
    </main>
     <h2>¿Como The North Face utiliza el aprendizaje supervisado?</h2>
        
      <div class="caso2-contenido">
    <p class="p1-intro">
        La Inteligencia Artificial ha irrumpido con fuerza en las empresas de todos los 
        sectores. Tanto es así, que muchas compañías han comenzado a incorporar 
        modelos de este tipo para aumentar su productividad o mejorar ciertos procesos.       
    </p>
    El Machine Learning o aprendizaje automático, es una vertiente de la IA que se 
basa en generar algoritmos que permiten a los ordenadores aprender a partir de 
datos.
    </p>
  
    <p class="P2-intro">
        <h2 class="titulo1">Proyecto XPS The North Face</h2>
   
    La inteligencia artificial y el machine 
learning están transformando la 
experiencia de compra online, 
acercándola al nivel de personalización 
que se encuentra en una tienda física.

The North Face, en colaboración con 
IBM, se posicionó como un pionero en 
este campo al implementar su modelo XPS (eXpert Personal Shopper), un claro 
ejemplo de cómo el machine learning supervisado puede resolver problemas 
complejos de negocio y elevar la satisfacción del cliente.

<img src="../static/images/LG_IBM_TNF.png" alt="Logo IBM|TNF" class="img1-caso2">

Esta empresa antes de implementar su proyecto XPS, la experiencia de compra 
era completamente diferente entre sus canales físicos y digitales. En sus tiendas, 
la marca se basaba en el conocimiento y la asesoría de sus vendedores, quienes 
guiaban a los clientes a través de preguntas detalladas para recomendarles el 
equipo adecuado. Este enfoque personalizado era la esencia de la marca, 
construyendo confianza y asegurando la satisfacción del cliente. Sin embargo, su 
tienda en línea operaba bajo un modelo de autoservicio, con herramientas de 
búsqueda y filtros inadecuados para la complejidad técnica de sus productos, lo 
que a menudo frustraba a los clientes y los llevaba a abandonar la compra o a 
elegir el equipo incorrecto.

<img src="../static/images/Comp.png" alt="Compraratica de compra" class="img2-caso2">

Esta diferencia representaba un riesgo significativo para la marca, ya que no 
lograba transferir su valor fundamental, su experiencia de compra al creciente 
mercado digital. El sistema XPS, desarrollado con IBM Watson, se implementó 
precisamente para cerrar esta brecha, replicando digitalmente la conversación y 
el asesoramiento experto que se ofrecía en las tiendas físicas. El objetivo era guiar 
a cada cliente en línea, de manera individualizada, asegurando que encontraran el 
producto perfecto para sus necesidades, tal como lo haría un vendedor experto en 
persona.
</p>


<p class="P3-funcion">
        <h2 class="titulo1">Como funciona el proyecto XPS</h2>
    A diferencia de un motor de búsqueda o un robot con respuestas predefinidas, el 
sistema XPS aprovecha el poder del Procesamiento del Lenguaje Natural para 
interpretar lo que los clientes realmente quieren decir, usando sus propias 
palabras. Esto se consigue gracias a dos elementos esenciales: la clasificación de 
la intención, que averigua qué busca el usuario, como una sugerencia, y el 
Reconocimiento de Entidades Nombradas, que identifica datos importantes como 
la actividad, el sitio y el momento de la consulta.
<img src="../static/images/xps.png" alt="Proyecto XPS" class="img3-caso2">

Después de que la inteligencia artificial ha analizado a fondo lo que se pide, utiliza 
un motor de sugerencias para relacionar las características sacadas del cliente 
con las características técnicas de su oferta de productos. Esto le facilita 
proponer algunas alternativas que encajen por completo con lo que el usuario 
necesita en concreto. además, el sistema puede charlar con el cliente para 
perfilar aún más la búsqueda, formulando preguntas complementarias como las 
que haría un vendedor experimentado, consiguiendo así una sugerencia
personalizada.
    
</p>
<p class="P4-Beneficios">
        <h2 class="titulo1">Beneficios del Proyecto XPS</h2>

La implementación del sistema XPS, potenciado por IBM Watson, ofreció a The 
North Face beneficios estratégicos y transformadores, permitiéndole replicar la 
experiencia de asesoramiento experto de sus tiendas físicas en su plataforma 
digital. Esta solución tecnológica no solo aumentó las ventas y el valor promedio 
de las órdenes al guiar a los clientes hacia el producto correcto, sino que también 
fortaleció la marca al posicionarla como un líder innovador en retail y al generar 
una mayor lealtad del cliente. Además, cada interacción con el sistema 
proporcionó a la empresa datos valiosos sobre el comportamiento y las 
necesidades de los clientes, lo que le permitió optimizar sus operaciones, desde 
el desarrollo de productos hasta la gestión de inventario y marketing, logrando así 
una experiencia de compra experta y escalable a nivel global
<img src="../static/images/MV.png.jpg" alt="Beneficios del proyecto XPS" class="img4-caso2">

</p>





{% endblock %}