{% extends "base.html" %}

{% block body %}
    <header>
        <nav>
            <img src="../static/images/ML-act128.png" alt="logo-actividad">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/caso1-indmusical">Caso 1</a></li>
                <li><a href="/caso2-IndTexti">Caso 2</a></li>
                <li><a href="/caso3-">Caso 3</a></li>
                <li><a href="/caso4-">Caso 4</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Caso 2: Industria Textil</h1>
       
    </main>
     <h2>¿Como The North Face utiliza el aprendizaje supervisado?</h2>
        
      <div class="caso2-contenido">
    <p class="p1-intro">
        La Inteligencia Artificial ha irrumpido con fuerza en las empresas de todos los 
        sectores. Tanto es así, que muchas compañías han comenzado a incorporar 
        modelos de este tipo para aumentar su productividad o mejorar ciertos procesos.       
    </div>
    El Machine Learning o aprendizaje automático, es una vertiente de la IA que se 
basa en generar algoritmos que permiten a los ordenadores aprender a partir de 
datos.
    </p>
  
    <p class="P1-intro">
        <h2 class="titulo1">Proyecto XPS The North Face</h2>
   
    La inteligencia artificial y el machine 
learning están transformando la 
experiencia de compra online, 
acercándola al nivel de personalización 
que se encuentra en una tienda física.

    </p>
    </div>
   
{% endblock %}