{% extends "base.html" %}

{% block body %}

<header>
    <nav>
        <img src="../static/images/ML-act128.png" alt="logo-actividad">
        <ul class="navbar">
            <li><a href="/">Inicio</a></li>
            <li><a href="{{ url_for('caso1') }}">Caso 1</a></li>
            <li><a href="{{ url_for('caso2') }}">Caso 2</a></li>
            <li><a href="{{ url_for('caso3') }}">Caso 3</a></li>
            <li><a href="{{ url_for('caso4') }}"></a>Caso 4</li>
            <li class="menu-desplegable">
                <a href="#">Regresión Lineal <span class="flecha"></span></a>
                <ul class="desplegable-contenido">
                    <li><a href="{{ url_for('conceptoBasico') }}">Conceptos básicos</a></li>
                    <li><a href="{{ url_for('ejercicioPractico') }}">Ejercicio Práctico</a></li>
                </ul>
            </li>
        </ul>
        <img src="../static/images/CunLogo.png" alt="UniLogo" class="UniLogo">
    </nav>
</header>

<main class="contenido">
    <section>
        <h1>Conceptos básicos de Regresión Lineal</h1>

        <h2>¿Qué es la regresión lineal?</h2>
        <p>
            La regresión lineal es un método estadístico que predice una variable dependiente a partir de una o más variables independientes. 
            Su objetivo es ajustar una recta que represente la relación entre ellas, minimizando la diferencia entre los valores reales 
            y los estimados mediante el método de mínimos cuadrados.
        </p>

        <h2>¿Cómo funciona una regresión lineal?</h2>
        <p>
            Funciona estableciendo una relación matemática entre la variable dependiente y, que siempre es numérica, y una o varias variables independientes x. 
            En el caso más simple, con una sola x, la relación se representa como una línea recta que se ajusta a los datos.
        </p>
        
        <h2>¿Para qué sirve la regresión lineal?</h2>
        <p>
            Sirve para predecir valores numéricos en distintos ámbitos. 
            Se aplica en series de tiempo, economía y finanzas, por ejemplo, para estimar consumo, importaciones o riesgos de activos. 
            Es el primer método que suele usarse en problemas de predicción por su sencillez y utilidad.
        </p>

        <h2>¿Por qué es importante la regresión lineal?</h2>
        <p>
            Es importante porque es simple, rápida y fácil de interpretar, además de aplicarse en múltiples disciplinas. 
            Sus modelos permiten predicciones confiables y se entrenan con eficiencia. 
            La ecuación general es <strong>y = ax + b</strong>, donde 
            <em>a</em> es la pendiente y <em>b</em> el valor de y cuando x = 0.
        </p>
        <h2>¿Como funciona la regresion lineal?</h2>
        <p>
            La regresion lineal simple busca representar la relacion entre dos variables:
            x (independiente o predictoria) en el eje horizontal
            y (dependiente o de respuesta) en el eje vertical
            El modelo se expresa con la ecuacion:
            y = c * x + m
            donde c es la pendiente y m la interseccion con el eje y
        <p>
        <h2>¿Que es la regresion lineal en machine learning?</h2>
        <p> 
            La regresion lineal en Machine Learning es un metodo estadistico que modela la relacion entre una 
            o mas variables independientes u una variable dependiente continua.
            El algoritmo se entrena con datos conocidos para luego predecir valores desconocidos mediatne la
            ecuacion que mejor se ajusta a los datos.
            En la practica, los datos no siempre son ideales, por lo que se deben cumplir ciertos supuestos estadisticos
            para asegurar la validez del modelo 

        <p>
        <h2>Tipos de regresion lineal</h2>
        <p>
            La regresion lineal es una tecnica usada en machine learning y analisis de datos para modelar relaciones
            entre variables. Existen varias variantes segun la complejidad de los datos y la relacion que se desea analizar

            Regresion Lineal Simple:
            Analiza la relacion entre una variable dependiente (X) y una dependiente (Y)
            Su ecuacion es la siguiente:

            Y = &beta;0 X + &beta;1 + E
            Ejemplos de apliacion:
            Lluvia y rendimiento agricola
            Edad y estatura en niños
            Tempreatura y expansion del mercurio en un termometro

            Regresion lineal Multiple:
            COnsidera una variable dependiente y varias independientes.
            Su ecuacion es:
            
            Y= &beta;0 X0 + &beta;1 X1 + &beta;2 X2 + ... + &beta;N Xn + E
            
            Ejemplos de aplicacion:
            Lluvia, tempreatura y fertilizantes en cultivos
            Dieta y ejercicio en la salud cardiaca
            Crecimiento salarial e inflacion en tasas hipotecarias

            Regresion Logistica
            Se usa cuando la variable dependiente es categorica (generalmente binaria),
            estima una probabilidad entre 0 y 1
            
            Su ecuacion es:
            P(Y=1 | X) = 1 / (1 + e<sup>-(&beta;0 + &beta;1 X1 + ... + &beta;N XN)</sup>)
            Ejemplos de apliacion:
            Probabilidad de que un equipo gane o pierda
            Prediccion de si un estudiante aprueba un examen
            Clasificacion de imagenes (ej. fruta vs animal)
        <p>
    </section>
</main>

{% endblock %}
