{% extends "base.html" %}

{% block body %}
<header>
    <nav>
        <img src="../static/images/ML-act128.png" alt="logo-actividad">
        <ul class="navbar">
            <li><a href="/">Inicio</a></li>
            <li><a href="{{ url_for('caso1') }}">Caso 1</a></li>
            <li><a href="{{ url_for('caso2') }}">Caso 2</a></li>
            <li><a href="{{ url_for('caso3') }}">Caso 3</a></li>
            <li><a href="{{ url_for('caso4') }}"></a>Caso 4</li>
            <!--!Regresión Lineal-->
            <li class="menu-desplegable">
                <a href="#">Regresión Lineal <span class="flecha"></span></a>
                <ul class="desplegable-contenido">
                    <li><a href="{{ url_for('conceptoBasico') }}">Conceptos básicos</a></li>
                    <li><a href="{{ url_for('ejercicioPractico') }}">Ejercicio Práctico</a></li>
                </ul>
            </li>
            <!--!Regresión Logística-->
            <li class="menu-desplegable"> 
                <a href="#">Regresión Logística <span class="flecha"></span></a>
                <ul class="desplegable-contenido">
                    <li><a href="{{ url_for('comBasRL') }}">Conceptos básicos</a></li>
                    <li><a href="{{ url_for('ejerRL') }}">Ejercicio Práctico</a></li>
                </ul>
            </li>
        </ul>
        <img src="../static/images/CunLogo.png" alt="UniLogo" class="UniLogo">
    </nav>
</header>
<main>
    <section>
        <h2>Explicación Dataset</h2>
        <p>
            El dataset de entrenamiento del modelo contiene 9 columnas principales:
        </p>
        <ul>
            <li><b>Gender</b> → Indica el genero del paciente. 
               (Male, Female, Other)</li>
            <li>
                <b>Age</b> → edad del paciente en años, con valores desde jóvenes hasta adultos mayores.
            </li>
            <li>
                <b>Hypertension</b> →  Variable binaria (0 =NO, 1=SI) que señala si la persona padece hipertensión.
            </li>
            <li><b>Heart_disease</b> →  Variable binaria (0 =NO, 1=SI) que señala si la persona padece enfermedad cardíaca.
            </li>
            <li>
            <b>Smoking_history</b> → historial de consumo de tabaco (never, former, current, No Info).
            </li>
            <li>
            <b>BMI</b> → índice de masa corporal del paciente (peso en relación con la estatura).
            </li>
            <li><b>HbA1c_level</b> → nivel promedio de glucosa en sangre en los últimos meses, medido con la prueba de hemoglobina glicosilada.
            <li>
            <b>Blood_glucose_level</b> → nivel de glucosa en sangre al momento de la prueba.
            </li>
            <li>
            <b>Diabetes</b> → variable objetivo (0 = no tiene diabetes, 1 = diagnóstico positivo de diabetes).
            </li>
        </ul>
    </section>
    
</main>



{% endblock %}