{% extends "base.html" %}

{% block body %}
<header>
    <nav>
        <img src="../static/images/ML-act128.png" alt="logo-actividad">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Caso 1</a></li>
            <li><a href="#">Caso 2</a></li>
            <li><a href="#">Caso 3</a></li>
            <li><a href="#">Caso 4</a></li>
        </ul>
    </nav>
</header>
<main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam inventore magnam accusantium nisi nobis excepturi, placeat incidunt, in assumenda ut velit quod consequuntur corporis iusto ex mollitia neque asperiores! Est.</p>
</main>

{% endblock %}